# Ignore possible build & documentation
doc/build/
build/
*egg-info/
build_nuc_data/

# Ignore temp files
*.pyc
*.save
*.bak

# Ignore Cython'd files
pyne/*.c
pyne/*.cpp

# Ignore specific files
examples/BASE_TAPE9.INP
