# Ignore possible build & documentation
doc/build/
build/
*egg-info/
build_nuc_data/
pyne/include/

# Ignore temp files
*.pyc
*.save
*.bak
.*.swp
*~

# Ignore Cython'd files
pyne/*.c
pyne/*.cpp
pyne/*/*.cpp

# Ignore data &binary files
*.h5
*.ace

# Ignore specific files
examples/BASE_TAPE9.INP
pyne/tests/test.file
pyne/tests/test.txt
