# Ignore objects
*.o
# Targets to ignore
myfluka
mainfludag
readvol
*.map
*.stl
*~
.timer.out
ran*
*fort*
makefile.local
# Directories to ignore
html
mainf
test1
*old
remove
run
# Extensions to ignore
*.sat
*.swp
*.jou
*.err
*.log
*.out
