# Ignore objects
*.o
# Targets to ignore
myfluka
mainfludag
readvol
*~
# fortran stuff
.timer.out
ran*
*fort*
# extraneous build details
*.map
makefile.local
local.cmake
# Directories to ignore
html
mainf
*old
remove
run
# Extensions to ignore
*.cmake
*.err
*.jou
*.log
*.out
*.sat
*.stl
*.sw?
