name: MacOS Build/Test Pyne

on:
  # allows us to run workflows manually
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - ".github/workflows/build_test.yml"
      - ".github/workflows/changelog_test.yml"
      - ".github/workflows/conda_docker.yml"
      - ".github/workflows/docker_publish.yml"
      - ".github/workflows/install_script.yml"
      - ".github/workflows/virtualbox_image.yml"
      - "doc/**"
      - "CHANGELOG.rst"
  push:
    paths-ignore:
      - ".github/workflows/build_test.yml"
      - ".github/workflows/changelog_test.yml"
      - ".github/workflows/conda_docker.yml"
      - ".github/workflows/docker_publish.yml"
      - ".github/workflows/install_script.yml"
      - ".github/workflows/virtualbox_image.yml"
      - "doc/**"
      - "CHANGELOG.rst"

jobs:
  build-test-conda:
    strategy:
      fail-fast: false
      matrix:
        macos_versions: [
            macos-13,
            macos-14,
        ]

    runs-on: ["${{ matrix.macos_versions }}"]

    steps:
      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Checkout Pyne
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: "latest"
          conda-solver: "libmamba"
          auto-update-conda: true
          channels: conda-forge

      - name: Build and Test Pyne
        id: build-pyne
        shell: bash -el {0}
        run: |
          mamba install -y \
              compilers \
              cmake \
              make \
              libblas \
              liblapack \
              numpy \
              scipy \
              matplotlib \
              git \
              setuptools \
              pytest \
              pytables \
              jinja2 \
              cython \
              future \
              progress
          export CC=$CONDA_PREFIX/bin/clang
          export CXX=$CONDA_PREFIX/bin/clang++
          export CPP=$CONDA_PREFIX/bin/clang-cpp
          export FC=$CONDA_PREFIX/bin/gfortran
          mkdir -p $(python3 -m site --user-site)
          python3 setup.py install --user -j 3 -DCMAKE_Fortran_FLAGS="-isysroot $(xcrun --show-sdk-path)"
          export PATH=$HOME/.local/bin:$PATH
          nuc_data_make
          cd tests && ./ci-run-tests.sh python3
